body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #cfb417;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #f0990d;
    color: black;
}

.column {
    float: right;
    width: fit-content;
    height: fit-content;
    margin-bottom: 16px;
    margin-left: 40%;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 10px;
    margin-top: 40px;
    background-color: whitesmoke;
}

.card:hover {
    box-shadow: 0 18px 15px 10px rgba(0, 0, 0, 0.2);
}

.container {
    padding: 0 10px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

img {
    border-radius: 10px;
}

h2 {
    float: right;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}